<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { useRepo } from 'pinia-orm';

const categories = computed(() => useRepo(CategoryRepository).all());

onMounted(() => {
  useRepo(CategoryRepository).fetchAll();
});
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <router-link
            v-for="(category, index) in categories"
            :key="index"
            :to="{
              name: 'categories-item',
              params: {
                codename: category.codename,
              },
            }"
            class="list-group-item list-group-item-action"
          >
            <div class="container">
              <div class="row">
                <h5 class="mb-1 col-12 col-md-10 text-truncate">
                  {{ category.name }}
                </h5>
                <small class="col text-end text-truncate">{{ category.codename }}</small>
              </div>
            </div>
          </router-link>
        </ul>
      </div>
    </div>
  </div>
</template>
