<script setup lang="ts">
import { computed, watch } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const category = computed(() =>
  useRepo(CategoryRepository).where('codename', props.codename).first(),
);

watch(
  () => props.codename,
  (newValue) => {
    useRepo(CategoryRepository).fetchCategory(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <div v-if="category">
    <div class="container">
      <div class="row g-0">
        <div class="col offset-1 py-4 text-center">
          <h4>{{ category.name }}</h4>
          <span v-if="$route.name === 'categories-item-quirks'">Dashboard</span>
          <span v-else-if="$route.name === 'categories-item-quirks-add'">Add new item</span>
        </div>
        <div class="col-1 m-auto">
          <router-link
            v-if="$route.name != 'categories-item-quirks-add'"
            :to="{
              name: 'categories-item-quirks-add',
            }"
          >
            <font-awesome-icon icon="fa-solid fa-plus" size="2xl" />
          </router-link>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <RouterView />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mt-auto mx-auto">
    <legend class="text-center">
      <font-awesome-icon icon="fa-solid fa-file-circle-question" class="me-2" size="2xl" />
      {{ $t('navigation.notFound') }}
    </legend>
  </div>
</template>
