<script setup lang="ts">
import { CategoryRepository } from '@/stores/category.repo';
import { ref } from 'vue';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const quirkForm = ref({
  codename: '',
  name: '',
});

const onSubmit = (data) => {
  useRepo(CategoryRepository).pushCategoryQuirk(props.codename, data);
};
</script>

<template>
  <CategoryQuirkForm v-model="quirkForm" @submit="onSubmit(quirkForm)" />
</template>
