<script setup lang="ts">
import { computed, watch } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { QuirkRepository } from '@/stores/quirk.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const quirks = computed(() =>
  useRepo(QuirkRepository)
    .where('categoryCodename', props.codename)
    .orderBy((quirk) => quirk.name.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

watch(
  () => props.codename,
  (newValue) => {
    useRepo(CategoryRepository).fetchCategoryQuirks(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <ul class="list-group list-group-flush">
    <div v-for="(quirk, index) in quirks" :key="index" class="list-group-item">
      <div class="container">
        <div class="row">
          <h5 class="mb-1 col-12 col-md-10 text-truncate">
            {{ quirk.name }}
          </h5>
          <small class="col text-end text-truncate">{{ quirk.codename }}</small>
        </div>
      </div>
    </div>
  </ul>
</template>
