<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { ExecutionRepository } from '@/stores/execution.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 50;
const itemsShown = ref(pageSize);

const initialStatus = ['ongoing'];

const searchText = ref('');
const searchStatus = ref(initialStatus);
const searchDateFrom = ref('');
const searchDateTo = ref('');

const showControls = ref(false);
const clearableForm = computed(
  () => searchText.value || searchDateFrom.value || searchDateTo.value,
);

const availableStatus = [
  {
    text: 'ongoing',
    value: ['ongoing'],
  },
  {
    text: 'finished',
    value: ['finished'],
  },
  {
    text: 'cancelled',
    value: ['cancelled'],
  },
  {
    text: 'any',
    value: ['ongoing', 'finished', 'cancelled'],
  },
];

const currentSearch = computed(() =>
  availableStatus.find(
    (item) =>
      item.value.length === searchStatus.value.length &&
      item.value.every((element, index) => element === searchStatus.value[index]),
  ),
);

const executions = computed(() =>
  useRepo(ExecutionRepository)
    .where((item) => {
      if (item.id === searchText.value) return true;
      return item.name.toLowerCase().includes(searchText.value.toLowerCase());
    })
    .where('status', (value) => searchStatus.value.includes(value))
    .where('startedAt', (value) => {
      const getYear = value.toLocaleString('default', { year: 'numeric' });
      const getMonth = value.toLocaleString('default', { month: '2-digit' });
      const getDay = value.toLocaleString('default', { day: '2-digit' });
      const getDate = `${getYear}-${getMonth}-${getDay}`;
      return (
        (!searchDateFrom.value || searchDateFrom.value <= getDate) &&
        (!searchDateTo.value || getDate <= searchDateTo.value)
      );
    })
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .limit(itemsShown.value)
    .get(),
);

const onReset = () => {
  searchText.value = '';
  searchDateFrom.value = '';
  searchDateTo.value = '';
  searchStatus.value = initialStatus;
};

const onSubmit = () => {
  showControls.value = false;
  itemsShown.value = pageSize;
  useRepo(ExecutionRepository).fetchAll({
    searchQuery: searchText.value,
    startedAtDateGe: searchDateFrom.value,
    startedAtDateLe: searchDateTo.value,
    statusIn: searchStatus.value,
  });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  itemsShown.value += pageSize;
  useRepo(ExecutionRepository).fetchAll({
    searchQuery: searchText.value,
    startedAtDateGe: searchDateFrom.value,
    startedAtDateLe: searchDateTo.value,
    startedAtLt: executions.value.at(lastItemIndex).startedAt.toISOString(),
    statusIn: searchStatus.value,
  });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <div class="container">
    <div class="row g-0">
      <div class="col py-4 text-center">
        <h4>{{ $t('executionsDashboard.title') }}</h4>
      </div>
    </div>

    <form @submit.prevent="onSubmit" @reset.prevent="onReset">
      <fieldset class="row row-cols align-items-center g-2 my-3">
        <div class="col-12">
          <div class="input-group">
            <button v-if="!showControls" class="btn btn-primary" type="submit">
              <font-awesome-icon icon="fa-solid fa-search" />
            </button>
            <input
              v-model.trim="searchText"
              type="text"
              class="form-control"
              placeholder="Search in executions"
            />
            <button
              class="btn btn-outline-secondary"
              :class="{ active: showControls }"
              type="button"
              @click.prevent="showControls = !showControls"
            >
              <font-awesome-icon icon="fa-solid fa-sliders" />
            </button>
          </div>
          <div v-if="!showControls" class="form-text">
            Status: {{ $t('commons.execution.status.' + currentSearch.text) }}
          </div>
        </div>

        <template v-if="showControls">
          <div class="col-12 col-md-4">
            <label class="fs-6">Current status</label>
            <select v-model="searchStatus" class="form-select">
              <option
                v-for="(statusOption, index) in availableStatus"
                :key="index"
                :selected="searchStatus.value == statusOption.value"
                :value="statusOption.value"
              >
                {{ $t('commons.execution.status.' + statusOption.text) }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label class="fs-6">Started from</label>
            <input v-model="searchDateFrom" type="date" class="form-control" placeholder="Search" />
          </div>
          <div class="col-12 col-md-4">
            <label class="fs-6">Started until</label>
            <input v-model="searchDateTo" type="date" class="form-control" placeholder="Search" />
          </div>

          <div class="col-12 text-end">
            <button type="reset" class="btn btn-secondary mx-1">
              {{ $t('commons.form.reset') }}
            </button>
            <button type="submit" class="btn btn-primary mx-1">
              {{ $t('commons.form.search') }}
            </button>
          </div>
        </template>
      </fieldset>
    </form>

    <div class="row g-0">
      <div class="col">
        <div v-if="clearableForm && !showControls" class="col-12">
          <span v-if="searchDateFrom" class="badge rounded-pill text-bg-secondary mx-1"
            >Started after {{ searchDateFrom }}</span
          >
          <span v-if="searchDateTo" class="badge rounded-pill text-bg-secondary mx-1"
            >Started before {{ searchDateTo }}</span
          >
        </div>
      </div>
    </div>

    <div v-if="executions.length" class="row g-0">
      <div class="col">
        <ul class="list-group list-group-flush">
          <ExecutionsListGroupItem
            v-for="(execution, index) in executions"
            :key="index"
            :execution="execution"
          />
        </ul>

        <ul class="list-group list-group-flush">
          <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
            <font-awesome-icon icon="fa-solid fa-angle-down" />
          </button>
        </ul>
      </div>
    </div>

    <div v-else class="row g-0">
      <div class="col">
        <span>No items to show</span>
      </div>
    </div>
  </div>
</template>
