<template>
  <div class="container">
    <div class="row">
      <div class="col offset-1 py-4 text-center">
        <h4>{{ $t('groupsDashboard.title') }}</h4>
        <span v-if="$route.name === 'groups-list'">Dashboard</span>
        <span v-else-if="$route.name === 'groups-add'">Add new group</span>
      </div>

      <div class="col-1 m-auto">
        <router-link
          v-if="$route.name != 'groups-add'"
          :to="{
            name: 'groups-add',
          }"
        >
          <font-awesome-icon icon="fa-solid fa-plus" size="2xl" />
        </router-link>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <RouterView />
        </ul>
      </div>
    </div>
  </div>
</template>
