<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const groups = computed(() =>
  useRepo(GroupRepository)
    .orderBy((group) => group.name.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

onMounted(() => {
  useRepo(GroupRepository).fetchAll();
});
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <router-link
            v-for="(group, index) in groups"
            :key="index"
            :to="{
              name: 'groups-item',
              params: {
                codename: group.codename,
              },
            }"
            class="list-group-item list-group-item-action"
          >
            <div class="container">
              <div class="row">
                <h5 class="mb-1 col-12 col-md-10 text-truncate">
                  {{ group.name }}
                </h5>
                <small class="col text-end text-truncate">{{ group.codename }}</small>
              </div>
            </div>
          </router-link>
        </ul>
      </div>
    </div>
  </div>
</template>
