<script setup lang="ts">
import { computed, watch } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});
const group = computed(() => useRepo(GroupRepository).where('codename', props.codename).first());

watch(
  () => props.codename,
  (newValue) => {
    useRepo(GroupRepository).fetchGroup(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <div v-if="group">
    <div class="container">
      <div class="row g-0">
        <div class="col">
          <h4 class="p-4 text-center">{{ group.name }}</h4>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="[$route.name === 'groups-item-assigned-tasks' ? 'active' : '']"
                :to="{
                  name: 'groups-item-assigned-tasks',
                }"
                >{{ $t('groupsDashboard.items.tabs.assignedTasks') }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="[$route.name === 'groups-item-solved-tasks' ? 'active' : '']"
                :to="{
                  name: 'groups-item-solved-tasks',
                }"
                >{{ $t('groupsDashboard.items.tabs.solvedTasks') }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="[$route.name === 'groups-item-users' ? 'active' : '']"
                :to="{
                  name: 'groups-item-users',
                }"
                >{{ $t('groupsDashboard.items.tabs.users') }}</router-link
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <RouterView />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mt-auto mx-auto">
    <legend class="text-center">
      <font-awesome-icon icon="fa-solid fa-file-circle-question" class="me-2" size="2xl" />
      {{ $t('navigation.notFound') }}
    </legend>
  </div>
</template>
