<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const users = computed(() =>
  useRepo(UserRepository)
    .whereHas('groups', (query) => query.where('codename', props.codename))
    .orderBy((user) => user.fullname.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

onMounted(() => {
  useRepo(GroupRepository).fetchGroupUsers(props.codename);
});
</script>

<template>
  <ul class="list-group list-group-flush">
    <UsersDashboardListItem v-for="(user, index) in users" :key="index" :user="user" />
  </ul>
</template>
