<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 50;
const itemsShown = ref(pageSize);

const searchText = ref('');
const searchStatus = ref(['ongoing']);

const availableStatus = [
  {
    text: 'Ongoing',
    value: ['ongoing'],
  },
  {
    text: 'Finished',
    value: ['finished'],
  },
  {
    text: 'Cancelled',
    value: ['cancelled'],
  },
  {
    text: 'Any',
    value: ['ongoing', 'finished', 'cancelled'],
  },
];

const tasks = computed(() =>
  useRepo(TaskRepository)
    .where((item) => {
      if (item.id === searchText.value) return true;
      return item.name.toLowerCase().includes(searchText.value.toLowerCase());
    })
    .where('status', (value) => searchStatus.value.includes(value))
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .limit(itemsShown.value)
    .get(),
);

const onSubmit = () => {
  itemsShown.value = pageSize;
  useRepo(TaskRepository).fetchAll({
    searchQuery: searchText.value,
    statusIn: searchStatus.value,
  });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  itemsShown.value += pageSize;
  useRepo(TaskRepository).fetchAll({
    searchQuery: searchText.value,
    startedAtLt: tasks.value.at(lastItemIndex).startedAt.toISOString(),
    statusIn: searchStatus.value,
  });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <div class="container">
    <div class="row g-0">
      <div class="col py-4 text-center">
        <h4>{{ $t('tasksDashboard.title') }}</h4>
      </div>
    </div>

    <form class="row row-cols align-items-center g-2 my-3" @submit.prevent="onSubmit">
      <div class="col-12 col-xl-9">
        <div class="input-group">
          <label class="input-group-text visually-hidden">Search</label>
          <input v-model="searchText" type="text" class="form-control" placeholder="Search" />
        </div>
      </div>

      <div class="col-10 col-xl-2">
        <div>
          <select v-model="searchStatus" class="form-select">
            <option
              v-for="(statusOption, index) in availableStatus"
              :key="index"
              :selected="searchStatus.value == statusOption.value"
              :value="statusOption.value"
            >
              {{ statusOption.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-2 col-xl-1">
        <button type="submit" class="btn btn-secondary w-100">
          <font-awesome-icon icon="fa-solid fa-search" />
        </button>
      </div>
    </form>

    <div v-if="tasks.length" class="row g-0">
      <div class="col">
        <ul class="list-group list-group-flush">
          <TasksListGroupItem v-for="(task, index) in tasks" :key="index" :task="task" />
        </ul>

        <ul class="list-group list-group-flush">
          <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
            <font-awesome-icon icon="fa-solid fa-angle-down" />
          </button>
        </ul>
      </div>
    </div>

    <div v-else class="row g-0">
      <div class="col">
        <span>No items to show</span>
      </div>
    </div>
  </div>
</template>
