<script setup lang="ts">
import { ref, watch } from 'vue';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  username: {
    default: null,
    required: true,
    type: String,
  },
});

const userForm = ref({
  email: '',
  fullname: '',
  isAdmin: false,
  isStaff: false,
  isSuperuser: false,
});

watch(
  () => props.username,
  (newValue) => {
    useRepo(UserRepository)
      .fetchUser(newValue)
      .then(() => {
        const user = useRepo(UserRepository).where('username', props.username).first();
        userForm.value.email = user.email;
        userForm.value.fullname = user.fullname;
        userForm.value.isAdmin = user.isAdmin;
        userForm.value.isStaff = user.isStaff;
        userForm.value.isSuperuser = user.isSuperuser;
      });
  },
  { immediate: true },
);
</script>

<template>
  <form>
    <fieldset>
      <div class="mb-3">
        <label for="user-fullname" class="form-label">{{ $t('commons.user.fullname') }}</label>
        <input id="user-fullname" v-model="userForm.fullname" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="user-email" class="form-label">{{ $t('commons.user.email') }}</label>
        <input id="user-email" v-model="userForm.email" type="text" class="form-control" />
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isSuperuser"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isSuperuser')
        }}</label>
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isStaff"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isStaff')
        }}</label>
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isAdmin"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isAdmin')
        }}</label>
      </div>
    </fieldset>
  </form>
</template>
