<script setup lang="ts">
import { computed, watch } from 'vue';
import { QuirkRepository } from '@/stores/quirk.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const props = defineProps({
  categoryCodename: {
    required: true,
    type: String,
  },
  username: {
    required: true,
    type: String,
  },
});

const quirks = computed(() =>
  useRepo(QuirkRepository)
    .with('category')
    .where('categoryCodename', props.categoryCodename)
    .with('users')
    .whereHas('users', (query) => query.where('username', props.username))
    .orderBy((quirk) => quirk.name.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

watch(
  () => props.username,
  (newValue) => {
    useRepo(UserRepository).fetchUserQuirks(newValue, props.categoryCodename);
  },
  { immediate: true },
);

watch(
  () => props.categoryCodename,
  (newValue) => {
    useRepo(UserRepository).fetchUserQuirks(props.username, newValue);
  },
  { immediate: true },
);
</script>

<template>
  <ul class="list-group list-group-flush">
    <div v-for="(quirk, index) in quirks" :key="index" class="list-group-item">
      <div class="container">
        <div class="row">
          <h5 class="mb-1 col-12 col-md-10 text-truncate">
            {{ quirk.name }}
          </h5>
          <small class="col text-end text-truncate">{{ quirk.codename }}</small>
        </div>
      </div>
    </div>
  </ul>
</template>
