<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const users = computed(() =>
  useRepo(UserRepository)
    .orderBy((user) => user.fullname.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

onMounted(() => {
  useRepo(UserRepository).fetchAll();
});
</script>

<template>
  <ul class="list-group list-group-flush">
    <UsersDashboardListItem v-for="(user, index) in users" :key="index" :user="user" />
  </ul>
</template>
