<script setup lang="ts">
import { computed, watch } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const categories = computed(() => useRepo(CategoryRepository).all());

const props = defineProps({
  categoryCodename: {
    default: null,
    required: false,
    type: String,
  },
  username: {
    default: null,
    required: true,
    type: String,
  },
});

const user = computed(() =>
  useRepo(UserRepository).with('quirks').where('username', props.username).first(),
);

const activeCategory = computed(() =>
  useRepo(CategoryRepository).where('codename', props.categoryCodename).first(),
);

watch(
  () => props.username,
  (newValue) => {
    useRepo(UserRepository).fetchUser(newValue);
    useRepo(CategoryRepository).fetchAll();
  },
  { immediate: true },
);
</script>

<template>
  <div v-if="user">
    <div class="container">
      <div class="row g-0">
        <div class="col offset-1 py-4 text-center">
          <h4>{{ user.fullname }}</h4>
          <span v-if="user.email">
            <a :href="`mailto:${encodeURIComponent(user.email)}`">{{ user.email }}</a>
          </span>
          <span v-else><br /></span>
        </div>

        <div class="col-1 m-auto">
          <router-link
            v-if="$route.name != 'users-item-edit'"
            :to="{
              name: 'users-item-edit',
            }"
          >
            <font-awesome-icon icon="fa-solid fa-pencil" size="2xl" />
          </router-link>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="[$route.name === 'users-item-assigned-tasks' ? 'active' : '']"
                :to="{
                  name: 'users-item-assigned-tasks',
                }"
                >{{ $t('usersDashboard.items.tabs.assignedTasks') }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                :class="[$route.name === 'users-item-solved-tasks' ? 'active' : '']"
                :to="{
                  name: 'users-item-solved-tasks',
                }"
                >{{ $t('usersDashboard.items.tabs.solvedTasks') }}</router-link
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                :class="[
                  $route.name === 'users-item-quirks' ? 'active' : '',
                  $route.name === 'users-item-groups' ? 'active' : '',
                ]"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
              >
                <span v-if="$route.name === 'users-item-groups'">{{
                  $t('usersDashboard.items.tabs.groups')
                }}</span>
                <span v-else-if="$route.name === 'users-item-quirks' && activeCategory">{{
                  activeCategory.name
                }}</span>
                <span v-else>{{ $t('usersDashboard.items.tabs.other') }}</span>
              </a>
              <ul class="dropdown-menu mt-0">
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'users-item-groups',
                    }"
                    >{{ $t('usersDashboard.items.tabs.groups') }}</router-link
                  >
                </li>
                <li v-for="(category, index) in categories" :key="index">
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'users-item-quirks',
                      params: {
                        categoryCodename: category.codename,
                      },
                    }"
                    >{{ category.name }}</router-link
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <RouterView />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mt-auto mx-auto">
    <legend class="text-center">
      <font-awesome-icon icon="fa-solid fa-file-circle-question" class="me-2" size="2xl" />
      {{ $t('navigation.notFound') }}
    </legend>
  </div>
</template>
