<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 50;
const itemsShown = ref(pageSize);

const searchText = ref('');
const searchStatus = ref(['ongoing']);

const availableStatus = [
  {
    text: 'Ongoing',
    value: ['ongoing'],
  },
  {
    text: 'Finished',
    value: ['finished'],
  },
  {
    text: 'Cancelled',
    value: ['cancelled'],
  },
  {
    text: 'Any',
    value: ['ongoing', 'finished', 'cancelled'],
  },
];

const props = defineProps({
  username: {
    required: true,
    type: String,
  },
});

const tasks = computed(() =>
  useRepo(TaskRepository)
    .whereHas('candidates', (query) => query.where('username', props.username))
    .where((item) => {
      if (item.id === searchText.value) return true;
      return item.name.toLowerCase().includes(searchText.value.toLowerCase());
    })
    .where('status', (value) => searchStatus.value.includes(value))
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .limit(itemsShown.value)
    .get(),
);

const onSubmit = () => {
  itemsShown.value = pageSize;
  useRepo(UserRepository).fetchUserAssignedTasks(props.username, {
    searchQuery: searchText.value,
    statusIn: searchStatus.value,
  });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  itemsShown.value += pageSize;
  useRepo(UserRepository).fetchUserAssignedTasks(props.username, {
    searchQuery: searchText.value,
    startedAtLt: tasks.value.at(lastItemIndex).startedAt.toISOString(),
    statusIn: searchStatus.value,
  });
};

watch(
  () => props.username,
  () => onSubmit(),
  { immediate: true },
);
</script>

<template>
  <form class="row row-cols align-items-center g-2 my-3" @submit.prevent="onSubmit">
    <div class="col-12 col-xl-9">
      <div class="input-group">
        <label class="input-group-text visually-hidden">Search</label>
        <input v-model="searchText" type="text" class="form-control" placeholder="Search" />
      </div>
    </div>

    <div class="col-10 col-xl-2">
      <div>
        <select v-model="searchStatus" class="form-select">
          <option
            v-for="(statusOption, index) in availableStatus"
            :key="index"
            :selected="searchStatus.value == statusOption.value"
            :value="statusOption.value"
          >
            {{ statusOption.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-2 col-xl-1">
      <button type="submit" class="btn btn-secondary w-100">
        <font-awesome-icon icon="fa-solid fa-search" />
      </button>
    </div>
  </form>

  <ul class="list-group list-group-flush">
    <TasksListGroupItem v-for="(task, index) in tasks" :key="index" :task="task" />
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
