<script setup lang="ts">
import { computed, watch } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 50;

const props = defineProps({
  username: {
    required: true,
    type: String,
  },
});

const groups = computed(() =>
  useRepo(GroupRepository)
    .whereHas('users', (query) => query.where('username', props.username))
    .orderBy((group) => group.name.toLowerCase(), 'asc')
    .limit(pageSize)
    .get(),
);

watch(
  () => props.username,
  (newValue) => {
    useRepo(UserRepository).fetchUserGroups(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <ul class="list-group list-group-flush">
    <router-link
      v-for="(group, index) in groups"
      :key="index"
      :to="{
        name: 'groups-item',
        params: {
          codename: group.codename,
        },
      }"
      class="list-group-item list-group-item-action"
    >
      <div class="container">
        <div class="row">
          <h5 class="mb-1 col-12 col-md-10 text-truncate">
            {{ group.name }}
          </h5>
          <small class="col text-end text-truncate">{{ group.codename }}</small>
        </div>
      </div>
    </router-link>
  </ul>
</template>
