<script setup lang="ts">
import { ref } from 'vue';

const userForm = ref({
  email: '',
  fullname: '',
  isAdmin: false,
  isStaff: false,
  isSuperuser: false,
  username: '',
});
</script>

<template>
  <form>
    <fieldset>
      <div class="mb-3">
        <label for="user-username" class="form-label">{{ $t('commons.user.username') }}</label>
        <input id="user-username" v-model="userForm.username" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="user-fullname" class="form-label">{{ $t('commons.user.fullname') }}</label>
        <input id="user-fullname" v-model="userForm.fullname" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="user-email" class="form-label">{{ $t('commons.user.email') }}</label>
        <input id="user-email" v-model="userForm.email" type="text" class="form-control" />
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isSuperuser"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isSuperuser')
        }}</label>
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isStaff"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isStaff')
        }}</label>
      </div>

      <div class="mb-3 form-check">
        <input
          id="flexSwitchCheckDefault"
          v-model="userForm.isAdmin"
          class="form-check-input"
          type="checkbox"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">{{
          $t('commons.user.isAdmin')
        }}</label>
      </div>
    </fieldset>
  </form>
</template>
