<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['submit', 'update:modelValue']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
  providers: {
    required: true,
    type: Array,
  },
  title: {
    default: '',
    type: String,
  },
});

const loginForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
  },
});
</script>

<template>
  <form @submit.prevent="$emit('submit', loginForm)">
    <fieldset>
      <legend class="text-center">
        <font-awesome-icon icon="fa-solid fa-right-to-bracket" class="me-2" />
        {{ title }}
      </legend>
      <div class="mb-3">
        <label for="account-username" class="form-label">{{ $t('account.login.username') }}</label>
        <input id="account-username" v-model="loginForm.username" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="account-password" class="form-label">{{ $t('account.login.password') }}</label>
        <input
          id="account-password"
          v-model="loginForm.password"
          type="password"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="account-provider" class="form-label"
          ><small>{{ $t('account.login.provider') }}</small></label
        >
        <select
          id="account-provider"
          v-model="loginForm.provider"
          class="form-select form-select-sm"
        >
          <option v-for="(provider, index) in providers" :key="index" :value="provider.value">
            {{ provider.label }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        {{ $t('account.login.submit') }}
      </button>
    </fieldset>
  </form>
</template>
