<script setup lang="ts">
import { ref } from 'vue';
const truncateTitle = ref(true);
defineProps({
  execution: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="list-group-item px-0">
    <div class="row g-0">
      <div class="mb-1 col-12 col-md-10 fw-bold" :class="{ 'text-truncate': truncateTitle }">
        <router-link
          class="link-body-emphasis"
          :to="{
            name: 'executions-item',
            params: {
              id: execution.id,
            },
          }"
        >
          <font-awesome-icon icon="fa-solid fa-diagram-project" />
          {{ execution.name }}
        </router-link>
        <br />
        <button
          type="button"
          class="btn btn-link btn-sm link-body-emphasis"
          @click="truncateTitle = !truncateTitle"
        >
          <template v-if="truncateTitle">
            <font-awesome-icon class="me-1" icon="fa-solid fa-angle-down" size="sm" />
            <span>Show more</span>
          </template>
          <template v-else>
            <font-awesome-icon class="me-1" icon="fa-solid fa-angle-up" size="sm" />
            <span>Show less</span>
          </template>
        </button>
      </div>
      <small class="col-12 col-md-2 text-end text-truncate">{{ execution.id }}</small>
    </div>
    <div class="row g-0">
      <small class="col text-start text-truncate">Started at {{ execution.startedAt }}</small>
      <small v-if="execution.finishedAt" class="col text-end text-truncate"
        >Finished at {{ execution.finishedAt }}</small
      >
    </div>
    <div class="row g-0">
      <small>{{ $t(`commons.execution.status.${execution.status}`) }}</small>
      <small v-if="execution.description" class="text-muted">{{ execution.description }}</small>
    </div>
  </div>
</template>
