<script setup lang="ts">
defineEmits(['clear']);

defineProps({
  alert: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="alert d-flex justify-content-between" role="alert" :class="alert.type">
    {{ $t(alert.message) }}
    <button class="btn btn-close" @click="$emit('clear')"></button>
  </div>
</template>
