<script setup lang="ts">
const siteTitle = import.meta.env.VITE_SITE_TITLE;

defineEmits(['logout']);

defineProps({
  user: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <router-link class="navbar-brand" :to="{ name: 'home' }">{{ siteTitle }}</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              id="trackingDropdown"
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ $t('header.tracking') }}</a
            >
            <ul class="dropdown-menu mt-0" aria-labelledby="trackingDropdown">
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'executions-dashboard',
                  }"
                  >{{ $t('header.executions') }}</router-link
                >
              </li>
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'tasks-dashboard',
                  }"
                  >{{ $t('header.tasks') }}</router-link
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              id="adminDropdown"
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ $t('header.administration') }}</a
            >
            <ul class="dropdown-menu mt-0" aria-labelledby="adminDropdown">
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'users-dashboard',
                  }"
                  >{{ $t('header.users') }}</router-link
                >
              </li>
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'groups-dashboard',
                  }"
                  >{{ $t('header.groups') }}</router-link
                >
              </li>
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'categories-dashboard',
                  }"
                  >{{ $t('header.categories') }}</router-link
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              id="userDropdown"
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ user.fullname }}</a
            >
            <ul class="dropdown-menu mt-0" aria-labelledby="userDropdown">
              <li>
                <router-link
                  class="dropdown-item"
                  :to="{
                    name: 'users-item',
                    params: {
                      username: user.username,
                    },
                  }"
                  >{{ $t('header.myProfile') }}</router-link
                >
              </li>
              <li>
                <button class="dropdown-item" type="button" @click="$emit('logout')">
                  {{ $t('header.logout') }}
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<style lang="scss" scoped></style>
