<script setup lang="ts">
defineProps({
  task: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="list-group-item px-0">
    <div class="row g-0">
      <div class="mb-1 col-12 col-md-10 text-truncate fw-bold">
        <router-link
          class="link-body-emphasis"
          :to="{
            name: 'executions-item',
            params: {
              id: task.executionId,
            },
          }"
        >
          <font-awesome-icon icon="fa-solid fa-pen-to-square" />
          {{ task.name }}
        </router-link>
      </div>
      <small class="col-12 col-md-2 text-end text-truncate">{{ task.id }}</small>
    </div>
    <div class="row g-0">
      <small class="col text-start text-truncate">Started at {{ task.startedAt }}</small>
      <small v-if="task.finishedAt" class="col text-end text-truncate"
        >Finished at {{ task.finishedAt }}</small
      >
    </div>
    <div class="row g-0">
      <small>{{ $t(`commons.task.status.${task.status}`) }}</small>
      <small v-if="task.description" class="text-muted">{{ task.description }}</small>
    </div>
  </div>
</template>
