<script setup lang="ts">
defineProps({
  user: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <router-link
    :to="{
      name: 'users-item',
      params: {
        username: user.username,
      },
    }"
    class="list-group-item list-group-item-action"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-truncate">
        {{ user.fullname }}
      </h5>
      <small>{{ user.username }}</small>
    </div>
    <small>{{ user.email }}</small>
    <br />
  </router-link>
</template>
