<script setup lang="ts">
import { RouterView } from 'vue-router';
import { storeToRefs } from 'pinia';

import { useAlertStore } from '@/stores/alert.store';
import { useAuthStore } from '@/stores/auth.store';

const alertStore = useAlertStore();
const { alert } = storeToRefs(alertStore);
const authStore = useAuthStore();
const onLogout = () => {
  authStore.logout();
};
</script>

<template>
  <div class="d-flex flex-column min-vh-100">
    <CasHeader v-if="authStore.user" :user="authStore.user" @logout="onLogout" />

    <CasAlert v-if="alert" :alert="alert" @clear="alertStore.clear()" />

    <RouterView class="mb-3" />

    <CasFooter
      :locale="$i18n.locale"
      :locales="$i18n.availableLocales"
      @set-locale="$i18n.locale = $event"
    />
  </div>
</template>

<style scoped></style>
